/* add home page styles here */
body {
    background-image: url(../assets/windmill.jpg);
    display: grid;
    grid-template-areas: 
    "one"
    "two three four"
    "five six seven";
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
}

#goblins-defeated {
    grid-area: two;

}

.goblin-input {
    grid-area: four;
}


.row {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.column {
    display: flex;
    flex-direction: column;
}
.left {
    display: flex;
    justify-content: center;
}

.right {
    right: 0px;
    display: flex;
    align-content: end;
    justify-content: center;
}

#goblins-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: seven;
}

.goblin-generator {
    padding: 1em;
}

.game-over {
    transform: rotate(90deg);
}

#adventurer {
    width: 150px;
    padding: 1em;
    display: flex;
    grid-area: five;
}

.adventurer {
    margin: 0%;
}

.player-hp {
    background-color: brown;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.goblin {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    align-items: center;
    width: 200px;
    margin: 25px;
}

.goblin img {
    width: 100%;
    margin-bottom: 50px;
}

.goblin h2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
}

.goblin h3 {
    margin: 0%;
}

.goblin p {
    margin: 0%;
    font-weight: bold;
}