/* add home page styles here */
.row {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    width: 100vw;
}

.column {
    display: flex;
    flex-direction: column;
    
}
.left {
    display: flex;

}

.right {
    right: 0px;
    display: flex;
    align-content: end;
    justify-content: center;
}

#goblins-list {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.goblin-generator {
    padding: 1em;
}

.game-over {
    transform: rotate(90deg);
}

.adventurer {
    width: 150px;
    padding: 1em;
}

.goblin {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 50%;
    align-items: center;
    width: 200px;
    margin: 25px;
}

.goblin img {
    width: 100%;
    margin-bottom: 50px;
}

.goblin h2 {
    display: flex;
    flex-wrap: wrap;
}

.goblin p {
    margin: 0%;
    font-weight: bold;
}